In [57]:
library(zoo)
library(tseries)
library(data.table)
library(ggplot2)
library(forecast)

In [23]:
dataset = fread("day.csv", sep = ',')

In [24]:
head(dataset, n = 5)

  instant dteday     season yr mnth holiday weekday workingday weathersit
1 1       01-01-2018 1      0  1    0       6       0          2
2 2       02-01-2018 1      0  1    0       0       0          2
3 3       03-01-2018 1      0  1    0       1       1          1
4 4       04-01-2018 1      0  1    0       2       1          1
5 5       05-01-2018 1      0  1    0       3       1          1
  temp      atemp    hum     windspeed casual registered cnt
1 14.110847 18.18125 80.5833 10.74988  331     654        985
2 14.902598 17.68695 69.6087 16.65211  131     670        801
3  8.050924  9.47025 43.7273 16.63670  120    1229       1349
4  8.200000 10.60610 59.0435 10.73983  108    1454       1562
5  9.305237 11.46350 43.6957 12.52230   82    1518       1600

In [25]:
dataset[, dteday := as.Date(dteday,format = '%d-%m-%Y')]

### Analise de dados