In [36]:
import pandas as pd
import numpy as np
from   scipy import stats
from   statsmodels import api

In [37]:
mtcars = api.datasets.get_rdataset(dataname='mtcars').data

mtcars.head(3)

                mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
rownames
Mazda RX4      21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
Datsun 710     22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1

### Teste de hipotese

In [38]:
sub_ = mtcars['mpg']

In [39]:
sub_.describe()

count    32.000000
mean     20.090625
std       6.026948
min      10.400000
25%      15.425000
50%      19.200000
75%      22.800000
max      33.900000
Name: mpg, dtype: float64

In [40]:
# definindo amostra
amotra = sub_.sample( n = 19, random_state=32)

> **Obs:**
>
> $S$: desvio padrão amostral
>
> $\sigma$: desvio padrão populacional
>
> $\bar X$: Média amostral
>
> $\mu$: Média populacional

1. $\sigma$ é conhecido e X tem distribuição normal e o tamanha da amostra de n é suficientemente grande
    * $Z$ = $\frac{\bar X - \mu_{0}}{\sigma/\sqrt{n}}$

$H_0 : \mu = 10$ 
 
$H_1 : \mu \not = 10$

> para um nivel de significancia de 0.01

In [49]:
nl = abs( ( 1 - 0.01)/2 )
nl

0.495

In [50]:
amotra.describe()

count    19.000000
mean     20.557895
std       6.618435
min      10.400000
25%      15.350000
50%      21.000000
75%      24.400000
max      32.400000
Name: mpg, dtype: float64

In [51]:
Z =  (20.557895 - 10)/(6.026948/np.sqrt(19))
Z

7.635837800743156

In [52]:
stats.norm.ppf(nl)

-0.012533469508069276

2. $\sigma$ é desconhecidad e $X$ tem distribuição normal